<div class="faxian">
	<ul class="pengyouquan1">
		<li class="row">
		    <div class="tu">
		    	<img src="./image/fx1.png" alt="">
		    </div>
			<div class="pyq"><a href="./PYQ-dt.html">朋友圈</a></div>
		</li>
	</ul>
	<ul class="pengyouquan2">
		<li class="row">
		    <div class="tu">
		    	<img src="./image/fx2.png" alt="">
		    </div>
			<div class="pyq">扫一扫</div>
		</li>
		<li class="row">
		    <div class="tu">
		    	<img src="./image/fx3.png" alt="">
		    </div>
			<div class="pyq">摇一摇</div>
		</li>
	</ul>
	<ul class="pengyouquan2">
		<li class="row">
		    <div class="tu">
		    	<img src="./image/fx4.png" alt="">
		    </div>
			<div class="pyq">附近的人</div>
		</li>
		<li class="row">
		    <div class="tu">
		    	<img src="./image/fx5.png" alt="">
		    </div>
			<div class="pyq">漂流瓶</div>
		</li>
	</ul>
	<ul class="pengyouquan2">
		<li class="row">
		    <div class="tu">
		    	<img src="./image/fx4.png" alt="">
		    </div>
			<div class="pyq">购物</div>
		</li>
		<li class="row">
		    <div class="tu">
		    	<img src="./image/fx5.png" alt="">
		    </div>
			<div class="pyq">游戏</div>
		</li>
	</ul>
</div>