<div class="tongxunlu">
	<ul class="shang">
		<li class="row">
			<div class="zuo">
				<img src="./image/tx1.png" alt="">
			</div>
			<dvi class="you">
				<p>新的朋友</p>
			</dvi>
		</li>
		<li class="row">
			<div class="zuo">
				<img src="./image/tx2.png" alt="">
			</div>
			<dvi class="you">
				<p>群聊</p>
			</dvi>
		</li>
		<li class="row">
			<div class="zuo">
				<img src="./image/tx3.png" alt="">
			</div>
			<dvi class="you">
				<p>标签</p>
			</dvi>
		</li>
		<li class="row">
			<div class="zuo">
				<img src="./image/tx4.png" alt="">
			</div>
			<dvi class="you">
				<p>公众号</p>
			</dvi>
		</li>
	</ul>
	<!-- <ul class="xia"> -->
		<!-- <div class="group" ng-repeat="v in txls">
			{{v.key}}
			<li class="row" ng-repeat="x in v.people">
				<div class="zuo">
					<img src="{{x.image}}" alt="">
				</div>
				<dvi class="you">
					<p>{{x.name}}</p>
				</dvi>
			</li>
		</div> -->
		<!-- <div class="group" >
			<span>a</span>
			<li class="row">
				<div class="zuo">
					<img src="./image/a1.png" alt="">
				</div>
				<dvi class="you">
					<p>垣</p>
				</dvi>
			</li> -->
		<!-- 	<li class="row">
				<div class="zuo">
					<img src="./image/a1.png" alt="">
				</div>
				<dvi class="you">
					<p>垣</p>
				</dvi>
			</li> -->
		<!-- </div> -->
		<!-- <div class="group" >
			<span>K</span>
			<li class="row">
				<div class="zuo">
					<img src="./image/a1.png" alt="">
				</div>
				<dvi class="you">
					<p>垣</p>
				</dvi>
			</li> -->
			<!-- <li class="row">
				<div class="zuo">
					<img src="./image/a1.png" alt="">
				</div>
				<dvi class="you">
					<p>垣</p>
				</dvi>
			</li> -->
		<!-- </div> -->
	<!-- 	<div class="group">
		<div class="group" >B</div>
		<li class="row">
			<div class="zuo">
				<img src="./image/a1.png" alt="">
			</div>
			<dvi class="you">
				<p>Bsir</p>
			</dvi>
		</li>
		</div>
		<div class="group" >C</div>
		<li class="row">
			<div class="zuo">
				<img src="./image/b1.png" alt="">
			</div>
			<dvi class="you">
				<p>Bsir</p>
			</dvi>
		</li>
		<div class="group" >B</div>
		<li class="row">
			<div class="zuo">
				<img src="./image/a1.png" alt="">
			</div>
			<dvi class="you">
				<p>Bsir</p>
			</dvi>
		</li> -->
	<!-- </ul>	 -->
</div>