<div class="wo">
	<ul class="row shang" >
	        <li class="zuo">
	        	<img src="./image/头像.jpg" alt="">
	        </li>
	        <li class="zhong">
	        	<div class="title">聆听</div>
	        	<div class="info">微信号：1344091359</div>
	        </li>
	        <li class="you">
	        		<img src="./image/二维码.png" alt="">
	        </li>
	</ul>
	<ul class="xia">
		<li class="row">
		    <div class="tu">
		    	<img src="./image/相册.png" alt="">
		    </div>
			<div class="pyq">相册</div>
		</li>
		<li class="row">
		    <div class="tu">
		    	<img src="./image/收藏.png" alt="">
		    </div>
			<div class="pyq">收藏</div>
		</li>
	</ul>
	<ul class="xia">
		<li class="row">
		    <div class="tu">
		    	<img src="./image/钱包.png" alt="">
		    </div>
			<div class="pyq">钱包</div>
		</li>
		<li class="row">
		    <div class="tu">
		    	<img src="./image/卡包.png" alt="">
		    </div>
			<div class="pyq">卡包</div>
		</li>
	</ul>
	<ul class="xia">
		<li class="row">
		    <div class="tu">
		    	<img src="./image/表情.png" alt="">
		    </div>
			<div class="pyq">表情</div>
		</li>
		<li class="row">
		    <div class="tu">
		    	<img src="./image/设置.png" alt="">
		    </div>
			<div class="pyq">设置</div>
		</li>
	</ul>
</div>