  <!-- 结尾 -->
  <div class="footer">
    <ul>
      <li class="tab col s3 active" ng-class="{active:title=='微信'}" ng-click="title='微信'">
         <span class="weixin1"></span>
         <a href="#/weixin" class="" >微信</a>
      </li>
      <li class="tab col s3"  ng-class="{active:title=='通讯录'}" ng-click="title='通讯录'">
         <span class="tongxunlu1"></span>
         <a href="#/tongxunlu">通讯录</a>
      </li>
      <li class="tab col s3" ng-class="{active:title=='发现'}" ng-click="title='发现'">
         <span class="faxian1"></span>
         <a href="#/faxian">发现</a>
      </li>
      <li class="tab col s3" ng-class="{active:title=='我'}" ng-click="title='我'">
         <span class="wo1"></span>
         <a href="#/wo">我</a>
      </li>
    </ul>
  </div>
